.login-flex-container {
  display: flex;
  height: 100vh;
}
.img-section {
  width: 50%;
  background: url('./../../images/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 100;
}
.form-section {
  background-color: #f4f4f4;
  width: 50%;
  padding: 40px;
}
.form-section img {
  width: 120px;
  float: center;
}
.form-section h1,
.form-section p {
  text-align: center;
}

.form-section p {
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .img-section {
    visibility: none;
    width: 0%;
  }
  .form-section {
    width: 100%;
  }
}
