.login-flex-container {
  display: flex;
}
.img-section {
  width: 50%;
}
.img-section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.form-section {
  background-color: #f4f4f4;
  width: 50%;
  padding: 40px;
}
.form-section img {
  width: 120px;
  float: center;
}
.form-section h1,
.form-section p {
  text-align: center;
}

.form-section p {
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
