.dashboard-tab-container {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
}
.dashboard-tab {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 10px;
  width: 30%;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  background-color: #444;
  color: #fff;
}
.dashboard-tab-active {
  color: #fff;
  background-color: #2cb978;
}
.dashboard-tab:hover {
  opacity: 90%;
}
.dashboard-tab i {
  margin-left: 15px;
}
@media only screen and (max-width: 600px) {
  .dashboard-tab {
    justify-content: center;
  }
  .dashboard-tab .text-content {
    display: none;
  }
  .dashboard-tab-container i {
    margin: 0px;
  }
}
