div {
  margin: 10px 5px;
}
div:focus {
  color: #2cb978;
}
label {
  display: block;
  margin: 7.5px 0px;
  color: #3b3c38;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border: 2px solid #2cb978;
  background-color: #fff;
}
