.icon-button {
  cursor: pointer;
}
.map-container {
  height: 200px;
  width: 100%;
}
.map-marker {
  display: flex;
  align-items: center;
}
.card {
  display: inline !important;
}
.fluid-card {
  width: 100% !important;
}
