.custom-btn {
  padding: 10px 30px;
  background-color: #581b98;
  color: #ffffff;
  border: none;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0.5px 1.5px 1.5px #dee1ec;
}

.custom-btn:hover {
  opacity: 90%;
}
